# mac os
.DS_Store

# js
node_modules
lib
es
yarn-error.log

# lerna
lerna-debug.log

# test coverage
coverage

.vercel

# yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions